<p class="mt-3">
  <button class="btn btn-primary" (click)="send()"> Run </button>
</p>

<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="700.000000pt" height="451.000000pt" viewBox="0 0 700.000000 451.000000" preserveAspectRatio="xMidYMid meet">
  <metadata>
    Created by potrace 1.12, written by Peter Selinger 2001-2015
  </metadata>
  <defs>
    <radialGradient  id="Gradient1">
      <stop offset="40%" stop-color="#371b07" />
      <stop offset="60%" stop-color="#7d3e11" />
    </radialGradient>
  </defs>
  <g transform="translate(-50.000000,800.000000) scale(0.100000,-0.100000)" fill="url(#Gradient1)" stroke="none">
    <path [attr.d]="final_path">
    </path>
  </g>
</svg>
